<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Weather Journal</title>
</head>

<body>
	<header>
		<h1 class="holder">Travel Planner</h1>
	</header>
	<main>
		<div class="fields">
			<div class="form-field">
				<label for="location">My trip to:</label>
				<input type="text" id="location" name="location" placeholder="city, country">
			</div>
			<div class="form-field">
				<label for="departure">Departing on:</label>
				<input type="text" id="departure" name="departure" placeholder="mm/dd/yyyy"></input>
			</div>
		</div>
		<button id="generate" type="submit">Submit</button>
		<div class="info">
			<h2 class="title">Forecast</h2>
			<div class="entry">
				<p class="entry__data"></p>
				<p class="entry__data"></p>
				<p class="entry__data"></p>
			</div>
		</div>
	</main>
</body>

</html>