<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Travel Planner</title>
</head>

<body>
	<header>
		<h1 class="holder">Travel Planner</h1>
	</header>
	<main>
		<div class="fields">
			<div class="form-field">
				<label for="location">My trip to:</label>
				<input type="text" id="location" name="location" placeholder="city, country">
			</div>
			<div class="form-field">
				<label for="departure">Departing on:</label>
				<input type="text" id="departure" name="departure" placeholder="mm/dd/yyyy">
			</div>
		</div>
		<button id="generate" type="submit">Submit</button>
		<div class="info">
			<h2 class="title">Forecast</h2>
			<div class="entry">

			</div>
		</div>
	</main>
	<script>
		// Check that service workers are supported
		if ('serviceWorker' in navigator) {
		  // Use the window load event to keep the page load performant
		  window.addEventListener('load', () => {
			navigator.serviceWorker.register('/service-worker.js');
		  });
		}
		</script>
</body>

</html>